<!doctype html>
<html lang="{{ site.LanguageCode | default `en` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "google-tag-manager.html" (dict "id" site.Params.seo.googleTagManagerID "context" "body") }}
    <a class="aw-skip-link" href="#main-content">Skip to main content</a>
    {{ partial "site-header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "site-footer.html" . }}
    {{ with resources.Get "js/main.js" }}
    <script src="{{ .RelPermalink }}" defer></script>
    {{ end }}
  </body>
</html>
